html, body 
{
    height:100%;
    /*background: url("../img/fundopagina.png") no-repeat fixed center 95% rgba(0, 0, 0, 0);
    background-size:100% 110px;*/
}
        
.footer
{
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-top: 70px;
    padding: 30px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 3px;
    z-index: 1001;
}
        
.login
{
    background-color: #FFF;
}
        
.titulo-login
{
    border-bottom: 1px solid #DAC08F;
}
        
.texto-login
{
    padding-left: -20px;
}
        
.no-table
{
    margin: auto;
    max-width: 320px;
    width: 100%;
}

.navbar-inverse 
{
    background-image:linear-gradient(to bottom,#2D4E71 0,#315379 100%) !important;
    padding-left: 15px; 
    padding-right: 15px;
}

.navbar-inverse .navbar-nav > li > a
{
    color: white !important;
}

.navbar-inverse .navbar-nav > li > a:hover
{
    color: #DAC08F !important;
}

.btn-link:hover
{
    color: #DAC08F;
}

.rodape
{
    background: url("../img/fundorodape.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    height: 33px;
    margin-top: -4px;
    width: 100px
}

.imgRedacao
{
    width: 800px;
}

.imgRedacaoVisualizar
{
    width: 800px;
    border: medium none;
    display: block;
    left: 0;
    margin: 0;
    padding: 0;
    top: 0;
}

.botaoFerramenta
{
    padding: 10px;
}

.label-correcao
{
    padding-top: 6px;
    padding-left: 6px;
    display:inline-block;
}

.botao-header
{
    margin-top: 6px;
    margin-left: 6px;
}

input[type="radio"] + label
{
    padding-right: 6px;
    padding-top: 6px;
    font-weight:normal;
    padding-left: 2px;
}

.traco-bottom
{
    border-bottom: 1px solid #CCC;
    padding:5px 0;
}

.traco-top
{
    margin-top : 5px;
    border-top: 1px solid #CCC;
    padding:5px 0;
}

.titulo-grupo
{
    font-weight: bolder;
    font-size: 14px;
    padding: 4px;
    background-color: #DAC08F;
    color: #465E87;
    margin-right: 10px;
}

.zero
{
    padding: 0;
}

.linha-impar
{
    background-color: #EAEAEA;
}

.tabela-nota
{
    margin-left: -10px; 
    margin-right: -10px;
}

.div-soma
{
    padding-top: 6px;
}

.pad6
{
    padding-top: 6px;
}

.margr6
{
    margin-right: 6px;
}

.botaoInfo
{
    background-color: #EEEEEE;
    height: 40px; 
    position: fixed; 
    right: -16px; 
    top: 90px; 
    width: 60px; 
    border-radius: 5px;
    z-index: 999;
}

.barra-paginacao
{
    margin-top: -15px;
}

.label-infor
{
    font-size : 11px;
    padding-top: 4px;
}

.alerta
{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.caixa-alerta
{
    margin: 200px auto auto;
    width: 300px;
    font-size: 90%;
}

.marca-erro
{
    background-color: rgba(255, 0, 0, 0.4);
    position: absolute;
    z-index:1000;
}

    .marca-erro:hover {
        border: solid 1px rgba(255, 0, 0, 0.6);
    }

    .marca-erro:hover > a {
        display: block;
    }

.btApagar {
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 7px;
    position: absolute;
    right: -5px;
    top: -11px;
    width: 18px;
    display: none;
}

.btApagar:hover {
    text-decoration:none;
}

.cadastro-parametro{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 40px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.margem-panel{
    margin-top: 30px;
}

.fechar-panel{
    position:fixed;
    z-index:1000;
    right: 30px;
    top: 84px;
}

.pagination li{
    border: 1px solid #CCC;
    border-radius: 3px;
    margin-right: 2px;
    padding: 3px;
    color: #FFF;
    background-color: #CCC;
    font-size: 11px;
}

.pagination li[class="ativo"]{
    background-color: #2D4E71;
    border: 1px solid #2D4E71;
}

.texto-aviso{
    color: #7c7c7c;
    font-size: 12px;
}
